*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

 /*ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
} 

ul li 
{
	display: inline-block;
	position: relative;
}*/

form input 
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}


form input::-webkit-slider-runnable-track
{
	background-color: red;
	width: 200px;
	height: 2px;
	cursor: pointer;
}

form input::-webkit-slider-thumb
{
	width: 20px;
	height: 20px;
	background-color: yellow;
	display: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: -9px 0 0;
}